<!-- defines this document to be HTML5 -->
<!DOCTYPE html>


<html>

	<!--contains about metadata, not displayed -->
	<head>
		<title> </title>
		<meta charset="UTF-8"> 
	</head>



	<!-- contains the visible page content, only content here displayed -->
	<body>

		<!-- Bullet points -->
		<h2> Welcome, <%= person %> ! </h2>
			<ul>
				<li> Coffee </li>
				<li> Tea </li>
			</ul>

			<p><strong> Age:  </strong> <%= data.age %> </p>
			<p><strong> Job:  </strong> <%= data.job %> </p>

		<!-- Numbered list -->
		<h3> An Ordered HTML List </h3>
			<ol>
				<li> Coffee </li>
				<li> Tea </li>
			</ol>

