<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
</head>
<body>
	<h2> Welcome, <%= person %> ! </h2>
	<ul>
		<li> Coffee </li>
		<li> Tea </li>
	</ul>
	<p><strong> Age:  </strong> <%= data.age %> </p>
	<p><strong> Job:  </strong> <%= data.job %> </p>
	<h3> An Ordered HTML List </h3>
	<ol>
		<li> Coffee </li>
		<li> Tea </li>
	</ol>
</body>
</html>

